# Xcode build output
build/
DerivedData/
*.xcuserstate

# Xcode user data
xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (not used, but just in case)
Pods/

# Fastlane (not used yet)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
